
{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h1 class="mb-0">
                        Rafael
                        <span class="text-primary">Peschillo</span>
                    </h1>
                    <div class="subheading mb-5">
                        Sección Chacras s/n· Rio Negro-Luis Beltrán· CP 8361 · (054) 2984-354836 ·
                        <a href="{% static 'ProyectoWebApp/mailto:peschillor@gmail.com' %}">peschillor@gmail.com</a>
                    </div>
                    <p class="lead mb-5">Tengo algunas experiencias en desarrollo web y de escritorio, así también como manejo de librerías relacionadas a la ciencia de datos y machine learning.</p>
                    <div class="social-icons">
                        <!--No abre otra pestaña para linkedin(buscar solucíon)-->
                        <!--<a class="social-icon" href="https://www.linkedin.com/feed/"><i class="fab fa-linkedin-in" target="_blank"></i></a>!-->
                        <a class="social-icon" href="https://github.com/peschillor/ProyectoWebPortfolio" target="_blank"><i class="fab fa-github"></i></a>
                        <a class="social-icon" href="https://web.facebook.com/?_rdc=1&_rdr" target="_blank" ><i class="fab fa-facebook-f"></i></a>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Experiencia-->
            <section class="resume-section" id="experience">
                <div class="resume-section-content">
                    <h2 class="mb-5">Experiencia</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Desarrollo de escritorio</h3>
                            <div class="subheading mb-3">Soluciones a medida</div>
                            <p>Mis experiencias en aplicaciones de escritorio, se basan en la utilización del lenguaje Python y la librería PyQt5 (similar a PySide2) para el desarrollo de interfaz gráfica. Para almacenamiento de información utilice gestores de bases de datos SQLite3 y MySQL. </p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">Marzo 2019 - Presente</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Desarrollador Web Junior</h3>
                            <div class="subheading mb-3">Trabajos experimentales</div>
                            <p>Para desarrollo web utilice Django del lado del Back-end dando formato a las plantillas con Boostrap 4 para el diseño, con PostgreSQL como gestor de base de datos.En breve proyectos con Django Rest Framework desde el Back-end y desde el Front-end utilizando React. </p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">Noviembre 2020- Presente</span></div>
                   
                </div>
            </section>
            <hr class="m-0" />
            <!-- Education-->
            <section class="resume-section" id="education">
                <div class="resume-section-content">
                    <h2 class="mb-5">Educación</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Universidad Nacional de Quilmes</h3>
                            <div class="subheading mb-3">Técnico Laboratorista Universitario </div>
                            <div>Titulo intermedio correspondiente a la Licenciatura en Biotecnología </div>
                           
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">Agosto de 2006</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Universidad Nacional de Quilmes</h3>
                            <div class="subheading mb-3">Diplomado en Ciencia y Tecnología</div>
                            <div>Titulo intermedio correspondiente a la Licenciatura en Biotecnología </div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">Agosto de 2006</span></div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Habilidades-->
            <section class="resume-section" id="skills">
                <div class="resume-section-content">
                    <h2 class="mb-5">Habilidades</h2>
                    <div class="subheading mb-3">Lenguajes de programación y herramientas</div>
                    <ul class="list-inline dev-icons">
                        <li class="list-inline-item"><i class="fab fa-html5"></i></li>
                        <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
                        <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
                        <li class="list-inline-item"><i class="fab fa-bootstrap"></i></li>
                        <li class="list-inline-item"><i class="fab fa-github-square"></i></li>
                        <li class="list-inline-item"><i class="fab fa-python"></i></li>
                        <li class="list-inline-item">
                            <img class="img-fluid img-profile  mx-auto mb-2" src="{% static 'ProyectoWebApp\assets\img\dj.png' %}">
                        </li>
                        <li class="list-inline-item">
                            <img class="img-fluid img-profile  mx-auto mb-2" src="{% static 'ProyectoWebApp\assets\img\MySQL.png' %}">
                        </li>

                        <li class="list-inline-item">
                            <img class="img-fluid img-profile  mx-auto mb-2" src="{% static 'ProyectoWebApp\assets\img\postgresql.png' %}">
                        </li>

                        <li class="list-inline-item">
                            <img class="img-fluid img-profile  mx-auto mb-2" src="{% static 'ProyectoWebApp\assets\img\Qt.png' %}">
                        </li>

                     
                    </ul>
                    <div class="subheading mb-3">Flujo de trabajo</div>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Aplicaciones Web, Desarrollo responsivo
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Aplicaciones de escritorio, Desarrollo ágil
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Adaptación a grupos multidisciplinarios  
                        </li>
                       
                    </ul>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Interests-->
            <section class="resume-section" id="interests">
                <div class="resume-section-content">
                    <h2 class="mb-5">Intereses</h2>
                    <p>Además de interesarme en el desarrollo web, busco formarme en ciencia de datos y machine learning, con aplicaciones a la bioinformática y la astronomía que son campos que me apasionan.</p>
                    <p class="mb-3">Por otra parte dedico un buen tiempo al ajedrez, disciplina en la cual incursione como docente y entrenador de niños. Me apasiona jugar torneos ya sean presenciales u online. Otra disciplina que también me atrae es el Go , pero al no poder darle el tiempo de estudio que requiere para progresar en el mismo, queda como un pasatiempo menor al igual que el póker.</p>
                    <p class="mb-0">Me gusta mantenerme en un buen estado físico, que en otro momento supe acompañar con la práctica del fútbol.</p>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Blog
            <<section class="resume-section" id="blog">
                <div class="resume-section-content">
                    <h2 class="mb-5">Blog</h2>
                   
                </div>
            </section>

              Contact
             <section class="resume-section" id="contact">
                <div class="resume-section-content">
                    <h2 class="mb-5">Contact</h2>
                   
                </div>
            </section>!-->
        </div>


    </div>
  </nav>

{% endblock %}


